@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-darkTheme: #11001F;
  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", serif;
}

* {
  font-family: var(--font-Outfit);
}